.save-container {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #0f0f0f;
  color: white;
  min-height: 100vh;
}

.save-btn {
  background: #048547;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

.save-btn:hover {
  background: #036d39;
}

.qr-code {
  margin-top: 30px;
}

.note {
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}
